/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        layer4 {
            bindings = <&to 0>;
            key-positions = <36 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E  &kp R             &kp T                 &kp Y      &kp U          &kp I      &kp O    &kp P     &kp DEL
&hm CLCK TAB    &kp A  &kp S  &kp D  &kp F             &kp G                 &kp H      &kp J          &kp K      &kp L    &kp SEMI  &hm RIGHT_SHIFT SINGLE_QUOTE
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C  &kp V             &hm LEFT_CONTROL B    &kp N      &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_ALT
                              &mo 1  &kp LEFT_COMMAND  &kp RET               &kp SPACE  &sk BACKSPACE  &mo 2
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSLH     &kp DOLLAR    &kp GRAVE  &kp UP_ARROW    &kp CARET         &kp PLUS      &trans
&trans  &kp AMPS         &kp TILDE  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS    &kp ASTERISK  &kp LEFT   &kp DOWN_ARROW  &kp RIGHT         &kp COLON     &kp DOUBLE_QUOTES
&trans  &kp PIPE         &kp PRCNT  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDER    &kp EQUAL     &kp HASH   &kp LESS_THAN   &kp GREATER_THAN  &kp QUESTION  &trans
                                    &trans                &trans                 &trans       &trans        &trans     &trans
            >;
        };

        riser_layer {
            bindings = <
&kp F1  &kp F2        &kp F3        &kp F4      &kp F5             &kp F6             &kp F7      &kp F8            &kp F9                &kp F10               &kp F11     &kp F12
&trans  &kp N1        &kp N2        &kp N3      &kp N4             &kp N5             &kp N6      &kp N7            &kp N8                &kp N9                &kp N0      &kp LSHFT
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &kp K_MUTE  &ext_power EP_ON  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &sys_reset  &trans
                                    &trans      &trans             &trans             &trans      &trans            &trans
            >;
        };
    };
};
